vti_encoding:SR|utf8-nl
portada-pt_archivos/filelist.xml:portada-pt.htm
/d\:/mis documentos/mis webs/webub3/comite-prog_archivos\\image001.jpg:comite-prog-ing.htm comite-prog.htm comite-prog-pt.htm
tocframe-ing_archivos/filelist.xml:tocframe-ing.htm
coordinacion-pt_archivos/filelist.xml:coordinacion-pt.htm
mailto\:facp@cic.unb.br:comite-prog-ing.htm comite-prog.htm comite-prog-pt.htm
mailto\:cysneiro@inf.puc-rio.br:comite-prog-ing.htm comite-prog.htm comite-prog-pt.htm
coordinacion-ing_archivos/image001.jpg:coordinacion-ing.htm
mailto\:jdoorn@exa.unicen.edu.ar:coordinacion.htm coordinacion-pt.htm coordinacion-ing.htm
llamada-ing_archivos/image001.jpg:llamada-ing.htm
mailto\:oliveros@fibertel.com.ar:comite-prog-ing.htm comite-prog.htm comite-prog-pt.htm
/d\:/mis documentos/mis webs/webub3/comité organizador_archivos\\image001.jpg:comité\\ organizador-ing.htm comité\\ organizador.htm comité\\ organizador-pt.htm
topicos-ing_archivos/image001.jpg:topicos-ing.htm
wer20011-pt_archivos/filelist.xml:wer20011-pt.htm
topicos-ing_archivos/filelist.xml:topicos-ing.htm
estructura_archivos/filelist.xml:estructura.htm
portada-ing_archivos/image001.jpg:portada-ing.htm
http\://www.cic.unb.br/~facp/wer99/wer99homeen.html:portada-pt.htm portada.htm portada-ing.htm
mailto\:ctomassino@arnet.com.ar:coordinacion.htm coordinacion-pt.htm coordinacion-ing.htm
fechas_archivos/filelist.xml:fechas.htm
llamada_archivos/image001.jpg:llamada.htm
fechas-ing_archivos/image001.jpg:fechas-ing.htm
fechas-pt_archivos/image001.jpg:fechas-pt.htm
tocframe-pt_archivos/image001.png:tocframe-pt.htm
comite-prog_archivos/image001.jpg:comite-prog.htm
mailto\:donadell@ub.edu.ar:comite-prog-ing.htm comite-prog.htm comite-prog-pt.htm
coordinacion-ing_archivos/filelist.xml:coordinacion-ing.htm
tocframe-ing_archivos/editdata.mso:tocframe-ing.htm
/d\:/mis documentos/mis webs/webub3/fechas_archivos\\image001.jpg:fechas-pt.htm fechas.htm fechas-ing.htm
comite-prog-ing_archivos/image001.jpg:comite-prog-ing.htm
mailto\:hadadg@ciudad.com.ar:comité\\ organizador-ing.htm comité\\ organizador.htm comité\\ organizador-pt.htm
portada-ing_archivos/filelist.xml:portada-ing.htm
/d\:/mis documentos/mis webs/webub3/topicos_archivos\\image001.jpg:topicos.htm
mailto\:mridao@exa.unicen.edu.ar:comité\\ organizador-ing.htm comité\\ organizador.htm comité\\ organizador-pt.htm
comite-prog-ing_archivos/filelist.xml:comite-prog-ing.htm
llamada_archivos/filelist.xml:llamada.htm
coordinacion_archivos/filelist.xml:coordinacion.htm
wer2001_archivos/filelist.xml:index.htm
comité organizador-pt_archivos/filelist.xml:comité\\ organizador-pt.htm
estructura-ing_archivos/image001.jpg:estructura-ing.htm
fechas-pt_archivos/filelist.xml:fechas-pt.htm
portada_archivos/image001.jpg:portada.htm
portada-pt_archivos/image001.jpg:portada-pt.htm
mailto\:eri_10@yahoo.com:comité\\ organizador-ing.htm comité\\ organizador.htm comité\\ organizador-pt.htm
mailto\:gustavo@sol.info.unlp.edu.ar:comite-prog-ing.htm comite-prog.htm comite-prog-pt.htm
http\://www.inf.puc-rio.br/~wer98/:portada-pt.htm portada.htm portada-ing.htm
llamada-ing_archivos/filelist.xml:llamada-ing.htm
/d\:/mis documentos/mis webs/webub3/portada_archivos\\image001.jpg:portada-pt.htm portada.htm portada-ing.htm
mailto\:tkirner@fundanet.br:comite-prog-ing.htm comite-prog.htm comite-prog-pt.htm
coordinacion-pt_archivos/image001.jpg:coordinacion-pt.htm
mailto\:jsanchez@dsic.upv.es:comite-prog-ing.htm comite-prog.htm comite-prog-pt.htm
mailto\:amador@lsi.us.es:comite-prog-ing.htm comite-prog.htm comite-prog-pt.htm
mailto\:karin@les.inf.puc-rio.br:comite-prog-ing.htm comite-prog.htm comite-prog-pt.htm
/d\:/mis documentos/mis webs/webub3/coordinacion_archivos\\image001.jpg:coordinacion.htm coordinacion-pt.htm coordinacion-ing.htm
wer2001-pt_archivos/filelist.xml:wer2001-pt.htm
tocframe-pt_archivos/editdata.mso:tocframe-pt.htm
mailto\:opastor@dsic.upv.es:comite-prog-ing.htm comite-prog.htm comite-prog-pt.htm
mailto\:borcosque@arnet.com.ar:comité\\ organizador-ing.htm comité\\ organizador.htm comité\\ organizador-pt.htm
/d\:/mis documentos/mis webs/webub3/topicos-ing_archivos\\image001.jpg:topicos-ing.htm
fechas-ing_archivos/filelist.xml:fechas-ing.htm
tocframe-ing_archivos/image002.jpg:tocframe-ing.htm
tocframe-pt_archivos/oledata.mso:tocframe-pt.htm
llamada-pt_archivos/filelist.xml:llamada-pt.htm
comité organizador_archivos/filelist.xml:comité\\ organizador.htm
comite-prog_archivos/filelist.xml:comite-prog.htm
tocframe_archivos/filelist.xml:tocframe.htm
/d\:/mis documentos/mis webs/webub3/estructura_archivos\\image001.jpg:estructura-ing.htm estructura.htm estructura-pt.htm
tocframe_archivos/editdata.mso:tocframe.htm
estructura-ing_archivos/filelist.xml:estructura-ing.htm
estructura_archivos/image001.jpg:estructura.htm
/d\:/mis documentos/mis webs/webub3/topicos-pt_archivos\\image001.jpg:topicos-pt.htm
tocframe-pt_archivos/image002.jpg:tocframe-pt.htm
fechas_archivos/image001.jpg:fechas.htm
comité organizador_archivos/image001.jpg:comité\\ organizador.htm
http\://www.lsi.us.es/~amador:comite-prog-ing.htm comite-prog.htm comite-prog-pt.htm
topicos-pt_archivos/image001.jpg:topicos-pt.htm
tocframe-ing_archivos/image001.png:tocframe-ing.htm
mailto\:cleonard@exa.unicen.edu.ar:comité\\ organizador-ing.htm comité\\ organizador.htm comité\\ organizador-pt.htm
comite-prog-pt_archivos/image001.jpg:comite-prog-pt.htm
mailto\:cgiorget@frsf.utn.edu.ar:comite-prog-ing.htm comite-prog.htm comite-prog-pt.htm
wer20011_archivos/filelist.xml:wer20011.htm
estructura-pt_archivos/image001.jpg:estructura-pt.htm
mailto\:masiero@icmc.sc.usp.br:comite-prog-ing.htm comite-prog.htm comite-prog-pt.htm
portada_archivos/filelist.xml:portada.htm
mailto\:julio@inf.puc-rio.br:comite-prog-ing.htm comite-prog.htm comite-prog-pt.htm
coordinacion_archivos/image001.jpg:coordinacion.htm
comité organizador-pt_archivos/image001.jpg:comité\\ organizador-pt.htm
topicos-pt_archivos/filelist.xml:topicos-pt.htm
wer2001-ing_archivos/filelist.xml:wer2001-ing.htm
comité organizador-ing_archivos/image001.jpg:comité\\ organizador-ing.htm
tocframe-pt_archivos/filelist.xml:tocframe-pt.htm
comite-prog-pt_archivos/filelist.xml:comite-prog-pt.htm
mailto\:jbc@cin.ufpe.br:comite-prog-ing.htm comite-prog.htm comite-prog-pt.htm
comité organizador-ing_archivos/filelist.xml:comité\\ organizador-ing.htm
tocframe_archivos/image002.jpg:tocframe.htm
mailto\:inesgp@frgp.utn.edu.ar:comité\\ organizador-ing.htm comité\\ organizador.htm comité\\ organizador-pt.htm
http\://www.inf.puc-rio.br/~wer00/:portada-pt.htm portada.htm portada-ing.htm
tocframe_archivos/image001.png:tocframe.htm
topicos_archivos/image001.jpg:topicos.htm
wer20011-ing_archivos/filelist.xml:wer20011-ing.htm
estructura-pt_archivos/filelist.xml:estructura-pt.htm
/d\:/mis documentos/mis webs/webub3/llamada_archivos\\image001.jpg:llamada-ing.htm llamada-pt.htm llamada.htm
topicos_archivos/filelist.xml:topicos.htm
llamada-pt_archivos/image001.jpg:llamada-pt.htm
